{% extends "layouts/base.html" %}

{% block title %} Lock / Unlock {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="card">
      <div class="card-body">
        <form id="form" role="form" method="post" action="">
          <div class="form-group">
            <label>Lock type</label>
            {{ form.lock_type }}
          </div>
          <div class="form-group">
            <label>Date</label>
            <div class="d-flex align-items-center">
              <div style="width: 25%;">{{ form.from_date }}</div>
              <div style="padding: 0 10px;">-</div>
              <div style="width: 25%;">{{ form.to_date }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>Time</label>
            <div class="d-flex align-items-center">
              <div style="width: 25%;">{{ form.from_time }}</div>
              <div style="padding: 0 10px;">-</div>
              <div style="width: 25%;">{{ form.to_time }}</div>
            </div>
          </div>
          <br>
          {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          <br>

          <div class="justify-content-center">
            <button onclick="window.location.href = '/dashboard/facility/list'" type="button" class="btn">Back</button>
            <button id="btn-submit" type="submit" class="btn btn-danger" formaction="?act=lock">Lock</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function() {
    $('.fromtimepicker').datetimepicker({
      datepicker: false,
      format: 'H:i',
      step: 30,
      theme: 'dark',
      defaultTime: "00:00"
    });
    $('.totimepicker').datetimepicker({
      datepicker: false,
      format: 'H:i',
      step: 30,
      theme: 'dark',
      defaultTime: "23:30"
    });
    $('.fromdatepicker').datetimepicker({
      timepicker: false,
      format:'Y-m-d',
      theme: 'dark',
      onShow: function(ct) {
        this.setOptions({
          maxDate: $('.todatepicker').val() ? $('.todatepicker').val() : false
        })
      }
    });
    $('.todatepicker').datetimepicker({
      timepicker: false,
      format:'Y-m-d',
      theme: 'dark',
      onShow: function(ct) {
        this.setOptions({
          minDate: $('.fromdatepicker').val() ? $('.fromdatepicker').val() : false
        })
      }
    });
    // debounce
    $('#form').submit(function() {
      $('#btn-submit').prop('disabled', true);
    })
  });
</script>
{% endblock javascripts %}
