{% extends "layouts/base.html" %}

{% block title %} Accounts {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <button id="btn-create" type="button card-title" class="btn btn-primary">New Price</button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Court Type</th>
                    <th>Day Type</th>
                    <th>Full Day Price</th>
                    <th>Normal Hourly Price</th>
                    <th>Peek Hourly Price</th>
                    <th>Peek Time</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for price in object_list %}
                  <tr>
                    <td>{{ price.court_type }}</td>
                    <td>{{ price.day_type }}</td>
                    <td>{{ price.full_day_price|default_if_none:"-" }}</td>
                    <td>{% widthratio price.normal_hourly_price 1 2 %}</td>
                    <td>{% widthratio price.peek_hourly_price 1 2 %}</td>
                    <td>{{ price.peek_time_from|default_if_none:"" }} - {{ price.peek_time_to|default_if_none:"" }}</td>
                    <td>{{ price.opening_time }}</td>
                    <td>{{ price.closing_time }}</td>
                    <td class="td-actions text-center">
                      <button type="button" rel="tooltip" class="btn btn-success btn-link btn-icon btn-sm btn-edit" data-id="{{ price.id }}" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="tim-icons icon-settings"></i>
                      </button>
                      {% if not price.is_super_admin %}
                      <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm btn-delete" data-toggle="modal" data-target="#deleteModal" data-id="{{ price.id }}" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="tim-icons icon-simple-remove"></i>
                      </button>
                      {% endif %}
                  </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Form Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete This Price</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </div>
        <div class="modal-body">
          Want to Delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="delete" type="button" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function() {
    var deleteId = null
    var currentPath = window.location.pathname

    $("#btn-create").on("click", function() {
      window.location.href = currentPath.replace('/list', '');
    })

    $(".btn-edit").on("click", function() {
      var id = $(this).data("id")
      window.location.href = currentPath.replace('/list', '/') + id;
    })

    $(".btn-delete").on("click", function() {
      deleteId = $(this).data("id")
    })
    $("#delete").on("click", function() {
      fetch(`${currentPath.replace('/list', '')}/${deleteId}`, {
        method: "DELETE",
      }).then(function(res) {
        location.reload()
      })
    })
  });
</script>
{% endblock javascripts %}
